body{
  width: 100%;
  height: 100vh;
 display: flex; flex-wrap: wrap;
}

.navegador1 {
    left: 1220px;
    position: absolute;
    top: 20px;
    background-color: white;
}

.navegador2 {
    left: 1310px;
    position: absolute;
    top: 20px;
}


.navegador3 {
    left: 1418px;
    position: absolute;
    top: 20px;
}

.EcoViajes {
    
}